:root {
  --brownish-orange: #d9652b;
  --greyish-brown: #4d4d4d;
}

.Black-3 {
width: 300px;
height: 584.1px;
}

.header-text-line-1 {
  height: 36px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  font-family: 'San Francisco Display Thin';
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.header-text-line-2 {
  height: 36px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-family: 'San Francisco Display Thin';
  line-height: 1;
  letter-spacing: normal;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.header-sub-text {
  height: 88px;
  font-family: 'San Francisco Display Thin';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: normal;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.header-text{
  height:420.1px;
  position: relative;
top: 50%;
transform: translateY(10%);
}

.google-play-badge {
  object-fit: contain;
}

.Rectangle {
  width: 100%;
  background-color: #f2793d !important;
}

.label-text{
  font-family: 'San Francisco Display Thin';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.iconsChattodo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.iconsChattodoLogo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.iconsChattodoText{
  height: 50px;
  font-family: 'San Francisco Display Thin';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.iconMargin{
  margin-top:5%;
}

.Rectangle-Label2 {
  background-color: #4d4d4d !important;
  background-color: var(--greyish-brown);
}

.label-text2{
  font-family: 'San Francisco Display Thin';
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 15%;
  margin-right: 15%;
}

.iconsChattodoX{
  width: 201px;
  height: 160px;
  object-fit: contain;
}

.iconsChattodoTextX{
  height: 264px;
  font-family: 'San Francisco Display Thin';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: normal;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.iconsChattodoTextXHeader{
  height: 100px;
  font-family: 'San Francisco Display Thin';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.Rectangle-3 {
  width: 100%;
  background-color: #f2f2f2 !important;
}

.Rectangle-3-text{
  font-family: 'San Francisco Display Thin';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  color: var(--greyish-brown);
}

.Rectangle-footer {
  width: 100%;
  height: 920px;
  background-color: #4d4d4d;
  background-color: var(--greyish-brown);
}

.footer-head{
  height: 58px;
  font-family: 'San Francisco Display Thin';
  font-size: 48px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top:15%;
  position: relative;
}

.google-play-badge-X {
  width: 310.1px;
  height: 120px;
}

.footer-text{
  height: 72px;
  font-family: 'San Francisco Display Thin';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.footer-link{
   height: 29px;
   font-family: 'San Francisco Display Thin';
   font-size: 24px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: #ffffff;
}

.Logo-White-128px-R {
  width: 120.9px;
  height: 30px;
  text-align: center;

  object-fit: contain;
}

.copyright{
  height: 18px;
  font-family: 'San Francisco Display Thin';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
    cursor: hand;
}

.logo-text{
  height: 72px;
  font-family: 'San Francisco Display Thin';
  font-size: 24px;
  font-weight: normal;
  font-style: bold;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}
